<style>
    .div1 {
        width: 1100px;
        height: 400px;
        
    }
</style>
<div class="container div1">
    <br />
   <h1 style="font-family:'Dosis-Medium';color:lightcoral"> Future Work</h1>
    <br />
    <hr />
     <ul class="container">
      <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Full implemetation of the profile page.</li>
      <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Find a solution for the "Trust" issue</li>
      <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Include a medium for personal communication.</li>
         <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Define a model for posting of jobs.</li>
     
     </ul>
</div>
<br />
 
