<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div class="container">
<br />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Prany">Pranay</a></li>
    <li><a data-toggle="tab" href="#Abhinaya">Abhinaya</a></li>
    <li><a data-toggle="tab" href="#Veerapratap">Veerapratap Nadh</a></li>
    <li><a data-toggle="tab" href="#Sai">Sai Naveen</a></li>
    <li><a data-toggle="tab" href="#Mani">Manichandra</a></li>

</ul>

<div class="tab-content">
    <div id="Pranay" class="tab-pane fade in active">
       <div class="container">
       <br/>
       
        <h4 style="font-family:'Dosis-Medium';color:lightcoral">Contributions</h4>
        <hr />
        <ul class="container">
           <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Created the graphical user interface.</li>
          <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger">  Implemented the expanded view of the profile.</li>
          <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger">  Have done the requirement analysis of the project.</li>
       </ul>
         <br />
         <h4 style="font-family:'Dosis-Medium';color:lightcoral">Challenges</h4>
        <hr />
        <ul class="container">
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Faced problems, while setting up some bootstrap components.</li>
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Couldn't set up,the View Models, for profile page.</li>
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Changed the whole database structure.</li>
        </ul>
       <br />
      Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
        <br />
         </div>
    </div>
    <div id="Abhinaya" class="tab-pane fade">
        <br/>
       <div class="container">
        <h4>Role:</h4><br />
        <h4 style="font-family:'Dosis-Medium';color:lightcoral">Contributions</h4>
        <br />
           <ul class="container">
               <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Implemented identity to achieve authentication and authorization.</li>
               <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Added the external login feature.</li>
               <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger">  Implemented CRUD operations on models.</li>
           </ul>
        <br />
        <h4 style="font-family:'Dosis-Medium';color:lightcoral">Challenges</h4>
        <br />
        <ul class="container">
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Couldn't achieve identity in desired model, so have done it on Account controller </li>
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> The external login feature, is partially working.</li>
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Changing of database structure, made a tough job to create the CRUD opeartions.</li>
        </ul>
           <br />
           Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
           <br />
      </div>

    </div>
    <div id="Veerapratap" class="tab-pane fade">
      <div class="container">
        <br />
        
        <h4 style="font-family:'Dosis-Medium';color:lightcoral">Contribution</h4>
        
          <hr />
        <ul>

            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Implemented filtering and sorting of records, category wise.</li>
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Created the new model, find talents. Implemented the CRUD operations on it.</li>
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Implemented the Searching "for-all" searching for the find talents model.</li>
        </ul>
        <br />
        <h4 style="font-family:'Dosis-Medium';color:lightcoral">Challenges</h4>
      
          <hr />
        <ul>
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Changing the whole database structure was difficult to solve.</li>
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Saving the image in the database was a tough job.</li>
            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Enabling the CRUD operations, depending on the roles of the user.</li>
        </ul>
          <br />
          Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
          <br />
          <br />
    </div>
    </div>
    <div id="Sai" class="tab-pane fade">
        <br/>
        <div class="container">

        <h4 style="font-family:'Dosis-Medium';color:lightcoral">Contribution</h4>
        <br />
            <ul>

                <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Performed user testing and performance testing on every component of the project.</li>
                <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Working on image rezing and cropping and creatd the milestone page.</li>
                <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Worked on Project Info tab, added the Milestones, Our Golas, Future Work pages.</li>

            </ul>
        <br />
        

            <h4 style="font-family:'Dosis-Medium';color:lightcoral">Challenges</h4>

            <hr />
            <ul>
                <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Faced problems during image resizing.</li>
                <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Saving the image in the database was a tough job.</li>

            </ul>
        <br />
            Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
            <br />

            
    </div>
    </div>
    <div id="Mani" class="tab-pane fade">
        <br />
       <div class="container">
           <h4 style="font-family:'Dosis-Medium';color:lightcoral">Contributions</h4>
        <br />
           <ul>
               <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Worked on the UI Layout issues and bootstrap.</li>
               <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Performed user testing and performance testing on every component of the project.</li>
               <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:larger"> Preparing dcoumentation parllely with the project development.</li>
           </ul>
        <br />
       
        <br />
       
           Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
           <br />
    </div>
 </div>
</div>
</div>