<div class="container">
<br />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Prany">Pranay</a></li>
    <li><a data-toggle="tab" href="#Abhinaya">Abhinaya</a></li>
    <li><a data-toggle="tab" href="#Veerapratap">Veerapratap Nadh</a></li>
    <li><a data-toggle="tab" href="#Sai">Sai Naveen</a></li>
    <li><a data-toggle="tab" href="#Mani">Manichandra</a></li>

</ul>

<div class="tab-content">
    <div id="Pranay" class="tab-pane fade in active">
       <div class="container">
       <br/>
        <h4>Role:</h4><br />
        <h4>Contributions</h4>
        <br />
        <ul class="container">
           <li> First point</li>
          <li> Second point</li>
          <li>  Third Point</li>
       </ul>
         <br />
         <h4>Challenges</h4>
        <br />
        <ul class="container">
            <li> First point</li>
            <li> Second point</li>
            <li>  Third Point</li>
        </ul>
       <br />
      Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
        <br />
         </div>
    </div>
    <div id="Abhinaya" class="tab-pane fade">
        <br/>
       <div class="container">
        <h4>Role:</h4><br />
        <h4>Contributions</h4>
        <br />
        <ul class="container">
          <li> First point</li>
            <li> Second point</li>
            <li>  Third Point</li>
         </ul>
        <br />
        <h4>Challenges</h4>
        <br />
        <ul class="container">
            <li> First point</li>
            <li> Second point</li>
            <li>  Third Point</li>
        </ul>
           <br />
           Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
           <br />
      </div>

    </div>
    <div id="Veerapratap" class="tab-pane fade">
      <div class="container">
        <br />
        <h4>Role:</h4><br />
        <h4>Contribution</h4>
        <br />
        <ul>

            <li> First point</li>
            <li> Second point</li>
            <li>  Third Point</li>
        </ul>
        <br />
        <h4>Challenges</h4>
        <br />
        <ul>
            <li> First point</li>
            <li> Second point</li>
            <li>  Third Point</li>
        </ul>
          <br />
          Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
          <br />
    </div>
    </div>
    <div id="Sai" class="tab-pane fade">
        <br/>
        <div class="container">
        <h4>Role:</h4><br />
        <h4>Contribution</h4>
        <br />
        <ul>

            <li> First point</li>
            <li> Second point</li>
            <li>  Third Point</li>
        </ul>
        <br />
        <h4>Challenges</h4>
        <br />
        <ul>
            <li> First point</li>
            <li> Second point</li>
            <li>  Third Point</li>
        </ul>
        <br />
            Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
            <br />
    </div>
    </div>
    <div id="Mani" class="tab-pane fade">
        <br />
       <div class="container">
        <h4>Role:</h4><br />
        <h4>Contribution</h4>
        <br />
        <ul>

            <li> First point</li>
            <li> Second point</li>
            <li>  Third Point</li>
        </ul>
        <br />
        <h4>Challenges</h4>
        <br />
        <ul>
            <li> First point</li>
            <li> Second point</li>
            <li>  Third Point</li>
        </ul>
        <br />
           Link to <a href="https://bitbucket.org/mabhinaya/team03_project/issues">Issue Tracker</a>
           <br />
    </div>
 </div>
</div>
</div>