@model CodeAgentsTeam3.Models.Actor

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Actor</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Achievements" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Achievements" class="form-control" />
                <span asp-validation-for="Achievements" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Height" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Languages" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Languages" class="form-control" />
                <span asp-validation-for="Languages" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfMovies" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberOfMovies" class="form-control" />
                <span asp-validation-for="NumberOfMovies" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Qualification" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rating" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Remuneration" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Remuneration" class="form-control" />
                <span asp-validation-for="Remuneration" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Weight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YearsOfExperience" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="YearsOfExperience" class="form-control" />
                <span asp-validation-for="YearsOfExperience" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
