<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 24 People</title>
   <style>
    .dropdown-menu {
      left: 30%;
      right: 75%;
      text-align: center;
      transform: translate(70%, -15%);
      width
      
     }
   </style>
    <style>
        .card {
            padding-top: 20px;
            margin: 10px 0 20px 0;
            background-color: rgba(214, 224, 226, 0.2);
            border-top-width: 0;
            border-bottom-width: 2px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .card .card-heading {
                padding: 0 20px;
                margin: 0;
            }

                .card .card-heading.simple {
                    font-size: 20px;
                    font-weight: 300;
                    color: #777;
                    border-bottom: 1px solid #e5e5e5;
                }

                .card .card-heading.image img {
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    margin-right: 15px;
                    vertical-align: top;
                    border: 0;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                }

                .card .card-heading.image .card-heading-header {
                    display: inline-block;
                    vertical-align: top;
                }

                    .card .card-heading.image .card-heading-header h3 {
                        margin: 0;
                        font-size: 14px;
                        line-height: 16px;
                        color: #262626;
                    }

                    .card .card-heading.image .card-heading-header span {
                        font-size: 12px;
                        color: #999999;
                    }

            .card .card-body {
                padding: 0 20px;
                margin-top: 20px;
            }

            .card .card-media {
                padding: 0 20px;
                margin: 0 -14px;
            }

                .card .card-media img {
                    max-width: 100%;
                    max-height: 100%;
                }

            .card .card-actions {
                min-height: 30px;
                padding: 0 20px 20px 20px;
                margin: 20px 0 0 0;
            }

            .card .card-comments {
                padding: 20px;
                margin: 0;
                background-color: #f8f8f8;
            }

                .card .card-comments .comments-collapse-toggle {
                    padding: 0;
                    margin: 0 20px 12px 20px;
                }

                    .card .card-comments .comments-collapse-toggle a,
                    .card .card-comments .comments-collapse-toggle span {
                        padding-right: 5px;
                        overflow: hidden;
                        font-size: 12px;
                        color: #999;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

        .card-comments .media-heading {
            font-size: 13px;
            font-weight: bold;
        }

        .card.people {
            position: relative;
            display: inline-block;
            width: 170px;
            height: 300px;
            padding-top: 0;
            margin-left: 20px;
            overflow: hidden;
            vertical-align: top;
        }

            .card.people:first-child {
                margin-left: 0;
            }

            .card.people .card-top {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 170px;
                height: 150px;
                background-color: #ffffff;
            }

                .card.people .card-top.green {
                    background-color: #53a93f;
                }

                .card.people .card-top.blue {
                    background-color: #427fed;
                }

            .card.people .card-info {
                position: absolute;
                top: 150px;
                display: inline-block;
                width: 100%;
                height: 101px;
                overflow: hidden;
                background: #ffffff;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .card.people .card-info .title {
                    display: block;
                    margin: 8px 14px 0 14px;
                    overflow: hidden;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 18px;
                    color: #404040;
                }

                .card.people .card-info .desc {
                    display: block;
                    margin: 8px 14px 0 14px;
                    overflow: hidden;
                    font-size: 12px;
                    line-height: 16px;
                    color: #737373;
                    text-overflow: ellipsis;
                }

            .card.people .card-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                display: inline-block;
                width: 100%;
                padding: 10px 20px;
                line-height: 29px;
                text-align: center;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            text-align: center;
            background-color: rgba(214, 224, 226, 0.2);
        }

            .card.hovercard .cardheader {
                background: url("http://lorempixel.com/850/280/nature/4/");
                background-size: cover;
                height: 135px;
            }

            .card.hovercard .avatar {
                position: relative;
                top: -50px;
                margin-bottom: -50px;
            }

                .card.hovercard .avatar img {
                    width: 100px;
                    height: 100px;
                    max-width: 100px;
                    max-height: 100px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    border: 5px solid rgba(255,255,255,0.5);
                }

            .card.hovercard .info {
                padding: 4px 8px 10px;
            }

                .card.hovercard .info .title {
                    margin-bottom: 4px;
                    font-size: 24px;
                    line-height: 1;
                    color: #262626;
                    vertical-align: middle;
                }

                .card.hovercard .info .desc {
                    overflow: hidden;
                    font-size: 12px;
                    line-height: 20px;
                    color: #737373;
                    text-overflow: ellipsis;
                }

            .card.hovercard .bottom {
                padding: 0 20px;
                margin-bottom: 17px;
            }

        .btn {
            border-radius: 50%;
            width: 32px;
            height: 32px;
            line-height: 18px;
        }
    </style>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!--  <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a asp-controller="Home" asp-action="Index" class="navbar-brand">24 People</a>
             </div>
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                     <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                     <li><a asp-controller="Home" asp-action="About">About</a></li>
                     <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                 </ul>
               
             </div>
         </div>
     </div> -->
    <br />

    <div class="header-top">
        <div class="header-bottom">
           

            <div>
                <div class="memenu skyblue">
                   
                   <li><div class="logo">
                        <h1><a asp-controller="Home" asp-action="Index">24 - People</a></h1>
                    </div></li>
                     <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="dropdown-open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false" id="dropdownMenu1">Project Info<span class="caret"></span></a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Goal">Our Goal</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Milestones">Milestones </a> </li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="FutureWork">Future Work </a> </li>
                        </ul>
                    </li>
                    <li class="grid"><a asp-controller="FindTalents" asp-action="Index">Find Talent</a></li>
                    <li class="grid"><a asp-controller="Home" asp-action="About">About Us</a></li>
                    <li class="grid"><a asp-controller="Home" asp-action="Contact">Contact</a></li>  
                 
                    <li>@await Html.PartialAsync("_LoginPartial")</li>
            </div>



        </div>
        <div class="clearfix"> </div>
    </div>

    <br />
   

    <div class="">
        @RenderBody()

    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-2 ftr-grid">
                </div>
                <div class="col-md-4 ftr-grid">
                    <h3>Our Motto</h3>
                    <p>A team motivated to bridge the gap between a dreamer and worker. Dream big and gather the team you required here to visualize it.</p>
                </div>
                <div class="col-md-2 ftr-grid">
                    <h3>More Info</h3>
                    <ul class="nav-bottom">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="#">Membership</a></li>
                    </ul>
                </div>
                <div class="col-md-2 ftr-grid">
                    <h3>Categories</h3>
                    <ul class="nav-bottom">
                        <li><a href="#">Actor</a></li>
                        <li><a href="#">Actress</a></li>
                        <li><a href="#">Director</a></li>
                        <li><a href="#">Cameraman</a></li>
                        <li><a href="#">Producer</a></li>
                    </ul>
                </div>
                <div class="col-md-2 ftr-grid">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
        <script src="http://uhchat.net/code.php?f=93b09a"></script>
    <div class="copywrite">
        <div class="container">
            <div class="copy">
                <p>© 2016 24 People. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">24 People Team.</a> </p>
            </div>
            <div class="social">
                <a href="#"><i class="facebook"></i></a>
                <a href="#"><i class="twitter"></i></a>
                <a href="#"><i class="dribble"></i></a>
                <a href="#"><i class="google"></i></a>
                <a href="#"><i class="youtube"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
